<% - include('partials/header') %>
<main>
    <div class="item-details">
        <h1><%= menu.title %></h1>
        <img class="menu-image" src="<%= menu.image_url %>"  alt="<%= menu.title %>">
        <p><%= menu.description %></p>
        <p><%= menu.price %></p>
        <p><%= menu.vegan %></p>
        <a href="/" class="btn">Back To The Menu</a>
    </div>
</main>
<%- include('partials/footer') %>