<% - include('partials/header') %>
<main>
    <div class="item-details">
        <h1><%= item.title %></h1>
        <img class="menu-image" src="<%= item.image_url %>"  alt="<%= item.title %>">
        <p><%= item.description %></p>
        <p><%= item.price %></p>
        <p><%= item.vegan %></p>
        <a href="/Menu" class="btn">Back To The Menu</a>
    </div>
</main>
<%- include('partials/footer') %>