<%- include('partials/header') %>
<main>
    <h1>Welcome to the menu</h1>
    <div class="menu-grid">
        <% menus.forEach(menu => { %>
        <div class="menu-card">
            <img class="menu-image" src="<%= menu.image_url %>"  alt="<%= menu.title %>">
            <h2><%= menu.title %></h2>
            <a href="/menu/<%= menu.id %>" class="btn">INFO</a>
        </div>
        <% }) %>
    </div>
</main>
<%- include('partials/footer') %>